include ../social/social.pug

mixin news
  .news
    .wrapper
      .news__columns
        .news__column.news__column_start
          h2.news__title Следите за нашими новостями
          p.news__description Подписывайтесь на <strong>@conquest_watch</strong> в&nbsp;соцсетях и&nbsp;узнавайте о&nbsp;новинках и&nbsp;акциях первыми
          .news__social
            +social
        .news__column.news__column_end
          .news__images
            .news__image
              img(
                src="./images/content/news-1.jpg",
                alt="Следите за нашими новостями",
                width="242",
                height="228"
              )
            .news__image
              img(
                src="./images/content/news-2.jpg",
                alt="Следите за нашими новостями",
                width="242",
                height="222"
              )
            .news__image
              img(
                src="./images/content/news-3.jpg",
                alt="Следите за нашими новостями",
                width="377",
                height="460"
              )
